<script src="../static/auth.js"></script>
<h2 class="subtitle">Daftar Penjualan</h2>
<button onclick="loadPage('/api/export/penjualan?format=csv')" class="button is-link">
  Download CSV
</button>
<button onclick="loadPage('/api/export/penjualan?format=xlsx')" class="button is-success">
  Download XLSX
</button>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Berat</th>
      <th>Harga Beli</th>
      <th>Tanggal</th>
      <th>No Pembeli</th>
      <th>Nama Sampah</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.no_invoice }}</td>
        <td>{{ item.berat }}</td>
        <td>{{ item.harga_jual }}</td>
        <td>{{ item.tanggal_jual }}</td>
        <td>{{ item.no_pembeli }}</td>
        <td>{{ item.nama_sampah }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>